@font-face {
  font-family: 'Roboto-Light';
  src: url('Roboto-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('Roboto-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}